:root {
  --fontfamily: Arial, Helvetica, sans-serif;
  --fontvariant: small-caps;
}

/* estructura de la pagina */
body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.estructura {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas:
    "superior superior superior"
    "menu menu tiquet"
    "inferior inferior inferior";
}

/* estructura superior */
.superior {
  grid-area: superior;
}

.superior__title {
  font-family: var(--fontfamily);
  font-variant: var(--fontvariant);
  text-align: center;
}

/* estructura del tiquet */
.tiquet {
  grid-area: tiquet;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: 
  "title"
  "account";
}

.tiquet__title {
  grid-area: title;
  font-family: var(--fontfamily);
  font-variant: var(--fontvariant);
  text-align: center;
  position: sticky;
  top: 1px;
}

.tiquet__account {
  grid-area: account;
  display: grid;
  grid-template-areas: 
  "title"
  "itemCart"
  "total";
}

.account__title {
  grid-area: title;
  position: sticky;
  top: 5px;
  height: 25px;
}

.account__item {
  grid-area: itemCart;
}

.account__total{
  grid-area: total;
  font-family: var(--fontfamily);
  font-variant: var(--fontvariant);
  text-align: center;
}

.div__itemCart, .account__title, .account__total {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas: 
  "name price counter";
  margin-left: 10px;
}

.itemCart__name, .title__name, .total__name{
  grid-area: name;
  font-family: var(--fontfamily);
  font-variant: var(--fontvariant);
  text-align: center;
}

.itemCart__price, .title__price, .total__price{
  grid-area: price;
  font-family: var(--fontfamily);
  font-variant: var(--fontvariant);
  text-align: center;
}

.itemCart__counter, .title__counter, .total__items{
  grid-area: counter;
  font-family: var(--fontfamily);
  font-variant: var(--fontvariant);
  text-align: center;
}

/* estructura inferior */
.inferior {
  grid-area: inferior;
}

.inferior__title {
  font-family: var(--fontfamily);
  font-variant: var(--fontvariant);
  text-align: center;
}

/* estructura del menu */
.menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*esto es igual que grid-template-columns: 1fr 1fr 1fr;*/
}

/* comportamiento del item y su distribucion */
.item {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.item__label {
  font-family: var(--fontfamily);
  font-variant: var(--fontvariant);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(255, 0, 0, 0.5);
  /* Color de fondo con transparencia */
  color: #fff;
  /* Color de texto */
}

.item:hover .item__label {
  visibility: visible;
  background-color: rgba(0, 0, 255, 0.5);
  /* Cambia el color de fondo al hacer hover en el ítem */
}

.item__image {
  width: 200px;
  height: 200px;
}

/* comportamiento de butons del item y su distribucion */
.butons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}

.butons__less,
.butons__more {
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color de fondo con transparencia */
  color: #fff;
  /* Color de texto */
}

.butons__number {
  width: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  /* Color de fondo con transparencia */
}

.butons__less:hover,
.butons__more:hover {
  background-color: rgba(0, 0, 0, 0.7);
  /* Cambia el color de fondo al hacer hover en los botones */
}

.butons__number{
  color: white;
}